# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
db.sqlite3
staticfiles/
media/

# Environment
.env
*.local

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Docker
postgres_data/
