DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,ais.azathd.ru

POSTGRES_DB=sport_school
POSTGRES_USER=sport_school
POSTGRES_PASSWORD=sport_school
POSTGRES_HOST=db
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000

USE_SQLITE=false
